html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    /* width: 100%;
    height: 100%; */
    /* background-color: black; */
}

#details {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #f7f7f7;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0;
    padding: 5px 10px;
}